[SERVICE]
    http_server On
    http_port   2020
    log_level   debug
    parsers_file    parsers.conf
[INPUT]
    name                tail
    tag                 ${K8S_NAMESPACE}.${K8S_NODENAME}.${K8S_PODNAME}.dib
    path                /watch/logs/*
    path_key            full_path
    refresh_interval    5
    read_from_head      True
    db                  /watch/dib_fluentbit.db
[FILTER]
    name    modify
    match   *
    add     namespace ${K8S_NAMESPACE}
    add     nodename ${K8S_NODENAME}
    add     podname ${K8S_PODNAME}
    add     ip ${K8S_PODIP}
    add     labels_run dib
    add     component nodepool
    add     container nodepool-builder
{{- range .ExtraKeys }}
    add     {{ .Key }} ${K8S_{{ .Value -}}}
{{- end }}
[FILTER]
    Name parser
    Match *dib
    Key_Name full_path
    Parser filename_shortener
    Preserve_Key On
    Reserve_Data On
[FILTER]
    Name parser
    Match *dib
    Key_Name file
    Parser image_name
    Preserve_Key On
    Reserve_Data On
[FILTER]
    Name parser
    Match *dib
    Key_Name log
    Parser timestamp_callback
    Preserve_Key On
    Reserve_Data On
[FILTER]
    Name modify
    Match *dib
    Remove full_path
[OUTPUT]
    name    stdout
    match   *
    format  json_lines
[OUTPUT]
    name    http
    match   *
    uri     /${K8S_NAMESPACE}.${K8S_NODENAME}.${K8S_PODNAME}.dib
    format  json
    host    {{ .FluentBitHTTPInputHost }}
    port    {{ .FluentBitHTTPInputPort }}
