---
microshift_ip: {{ "\"{{ hostvars.microshift.ansible_host }}\"" }}
microshift_fqdn: microshift.dev
sf_fqdn: {{ .FQDN }}

# The following variables will be used to check out the ansible-microshift-role role at a pinned version
microshift_role_path: "{{ .MicroshiftRolePath }}"
microshift_role_version: ee9a80a3338837e6f7ed58f424ddcb96b976984f

# The following variables are used when the ansible-microshift-role role is called
disk_file_sparsed: true
disk_file_size: {{ .DiskFileSize }}
etcd_on_ramdisk: {{ .ETCDOnRAMDisk }}
setup_olm: true
microshift_additional_addresses:
  - {{ "\"{{ microshift_fqdn }}\"" }}
  - {{ "\"{{ sf_fqdn }}\"" }}
