version: 1
formatters:
  console:
    class: 'zuul.lib.logutil.MultiLineFormatter'
    format: '%(asctime)s %(levelname)s %(name)s: %(message)s'
{{- if .LoggingParams.HTTPInputConfig.InUse }}
  fluenthttp:
    format: '%(asctime)s %(levelname)s %(name)s: %(message)s'
{{ end }}
handlers:
  console:
    class: logging.StreamHandler
    formatter: console
    level: {{ .LoggingParams.LogLevel }}
    stream: ext://sys.stdout
{{- if .LoggingParams.HTTPInputConfig.InUse }}
  fluenthttp:
    class: sfExtras.SimpleFluentBitHTTPInputHandler
    level: {{ .LoggingParams.LogLevel }}
    formatter: fluenthttp
    url: 'http://{{ .LoggingParams.HTTPInputConfig.Host }}:{{ .LoggingParams.HTTPInputConfig.Port }}/{{ .LoggingParams.Tag }}'
    env_prefix: K8S_
{{ end }}
loggers:
  zuul.GerritConnection.ssh:
    handlers:
      - console
{{- if .LoggingParams.HTTPInputConfig.InUse }}
      - fluenthttp
{{ end }}
    level: INFO
    propagate: 0
  zuul.GerritConnection.io:
    handlers:
      - console
{{- if .LoggingParams.HTTPInputConfig.InUse }}
      - fluenthttp
{{ end }}
    level: {{ .LoggingParams.LogLevel }}
    propagate: 0
  connection:
    handlers:
      - console
{{- if .LoggingParams.HTTPInputConfig.InUse }}
      - fluenthttp
{{ end }}
    level: {{ .LoggingParams.LogLevel }}
    propagate: 0
  zuul:
    handlers:
      - console
{{- if .LoggingParams.HTTPInputConfig.InUse }}
      - fluenthttp
{{ end }}
    level: {{ .LoggingParams.LogLevel }}
    propagate: 0
root:
  handlers:
    - console
{{- if .LoggingParams.HTTPInputConfig.InUse }}
    - fluenthttp
{{ end }}
  level: {{ .LoggingParams.LogLevel }}

