---
- name: Install dependencies
  become: true
  ansible.builtin.package:
    name:
      - golang
      - make
      - podman
      - skopeo
      - jq

- name: "Podman Login to {{ registry_address }}"
  ansible.builtin.shell: >
    podman login
    -u="{{ registry_username }}"
    -p="{{ registry_password }}"
    {{ registry_address }}
  no_log: true

- name: Check if the tag variable is set
  ansible.builtin.fail:
    msg: The version of the repo tag 'zuul.tag' is not defined
  when:
    - "'tag' not in zuul"

- name: "Set Tag Version"
  ansible.builtin.set_fact:
    tag_version: "{{ zuul.tag }}"
    version: "{{ zuul.tag | regex_replace('^v(.*)$', '\\1') }}"

- name: Generate the Operator's Bundle files
  community.general.make:
    target: bundle
    chdir: "{{ zuul.project.src_dir }}"
    params:
      VERSION: "{{ version }}"
      BUNDLE_GEN_FLAGS: "--version {{ version }}"

- name: Build the Operator and Bundle images
  community.general.make:
    target: "{{ item }}"
    chdir: "{{ zuul.project.src_dir }}"
    params:
      VERSION: "{{ version }}"
      BUNDLE_IMG: "{{ ci_bundle_img_registry }}:{{ tag_version }}"
      IMG: "{{ ci_operator_img_registry }}:{{ tag_version }}"
  loop:
    - bundle-build
    - operator-build

- name: "Podman Tag Operator and Bundle"
  ansible.builtin.shell: >
    podman tag
    {{ item }}:{{ tag_version }}
    {{ item }}:latest
  loop:
    - "{{ ci_bundle_img_registry }}"
    - "{{ ci_operator_img_registry }}"

- name: "Podman Push Operator and Bundle Images to {{ registry_address }}"
  ansible.builtin.shell: >
    podman push
    {{ item[0] }}:{{ item[1] }}
  loop: "{{ ['{{ ci_bundle_img_registry }}', '{{ ci_operator_img_registry }}'] | product(['{{ tag_version }}', 'latest']) | list }}"
  register: _podman_push
  retries: 3
  delay: 3
  until: "_podman_push is not failed"

# To Generate the Catalog the Bundle and Operator mush already be available on the registry

- name: "Waiting for Registry Tags API Call to be updated and have tag: {{ tag_version }}"
  ansible.builtin.command: >
    skopeo
    list-tags
    docker://{{ ci_bundle_img_registry }}
  register: _podman_tag
  retries: 10
  delay: 20
  until: "tag_version in _podman_tag.stdout"

- name: Create the Operator's Catalog
  community.general.make:
    target: opm
    chdir: "{{ zuul.project.src_dir }}"
    params:
      VERSION: "{{ version }}"

- name: Build the Operator's Catalog image
  community.general.make:
    target: "opm-build"
    chdir: "{{ zuul.project.src_dir }}"

- name: "Podman Push Operator Catalog Image to {{ registry_address }}"
  ansible.builtin.shell: >
    podman push
    {{ ci_catalog_img_registry }}:latest
  register: _podman_push
  retries: 3
  delay: 3
  until: "_podman_push is not failed"
