[SERVICE]
    http_server             On
    http_port               2020
    log_level               {{ .LoggingParams.LogLevel }}
    storage.path            /buffer-storage
    storage.sync            normal
    # A chunk is ~2MB, so this value is 128Mi / 4, where 128Mi is the default container profile's mem request
    # TODO compute this automatically from code
    storage.max_chunks_up   32
[INPUT]
    name                tail
    tag                 mariadb.error
    path                /watch/error.log
    path_key            full_path
    refresh_interval    5
    read_from_head      True
    db                  /watch/mariadb_fluentbit.db
    storage.type        filesystem
[FILTER]
    name    modify
    match   *
    add     namespace ${K8S_NAMESPACE}
    add     nodename ${K8S_NODENAME}
    add     podname ${K8S_PODNAME}
    add     ip ${K8S_PODIP}
    add     labels_run mariadb
    add     labels_app sf
    add     component mariadb
    add     container mariadb
{{- range .ExtraKeys }}
    add     {{ .Key }} ${K8S_{{ .Value -}}}
{{- end }}
[FILTER]
    name    modify
    match   mariadb.error
    add     level ERROR
{{- if eq .LoggingParams.LogLevel "debug" }}
[OUTPUT]
    name    stdout
    match   *
    format  json_lines
{{ end }}
{{- if .LoggingParams.ForwardInputConfig.InUse }}
[OUTPUT]
    name                        forward
    match                       *
    tag                         {{ .LoggingParams.Tag }}
    host                        {{ .LoggingParams.ForwardInputConfig.Host }}
    port                        {{ .LoggingParams.ForwardInputConfig.Port }}
    storage.total_limit_size    100M
{{ end }}
