---
- name: read current crd
  ansible.builtin.slurp:
    src: "/tmp/current_cr.yaml"
  register: base_cr

- name: merge the new cr
  ansible.builtin.copy:
    content: "{{ base_cr['content'] | b64decode | from_yaml | combine(new_cr, recursive=true) }}"
    dest: "/tmp/current_cr.yaml"
  vars:
    new_cr:
      spec: "{{ cr_spec }}"

- name: run the operator in standalone mode
  ansible.builtin.include_role:
    name: run-operator-standalone
  vars:
    cr_path: /tmp/current_cr.yaml
    glue: false
