apiVersion: sf.softwarefactory-project.io/v1
kind: SoftwareFactory
metadata:
  name: my-ext-ze
spec:
  fqdn: "sfop.me"
  zuul:
    gerritconns:
      - name: gerrit
        username: zuul
        hostname: gerrit-sshd.sf
        puburl: "https://gerrit.sfop.me"
        verifyssl: false
    executor:
      logLevel: DEBUG
      standalone:
        # deprecated setting, remove after next release
        controlPlanePublicZKHostname: ""
        controlPlanePublicZKHostnames:
          - zookeeper-0.zookeeper-headless.sf.svc.cluster.local
        controlPlanePublicGSHostname: git-server.sf
        publicHostname: zuul-executor-headless.ext-ze
