---
- name: Get latest tag's SHA for the operator container
  register: latest_tag_SHA
  ansible.builtin.shell: curl -s "{{ sf_operator_quay_url }}&specificTag=latest" | jq '.tags[0].manifest_digest'

- name: Get latest tag from SHA
  block:
  - register: actual_tag_SHA
    ansible.builtin.shell: curl -s "{{ sf_operator_quay_url }}" | jq '.tags[] | select(.manifest_digest == {{ latest_tag_SHA.stdout }}) | select(.name != "latest") | .name'
  - ansible.builtin.set_fact:
      sf_operator_version: "{{ actual_tag_SHA.stdout[1:-1] }}"
  - ansible.builtin.debug:
      var: sf_operator_version

- name: Validate we upgraded from a version >= v0.0.62
  ansible.builtin.fail:
    msg: Base version is {{ sf_operator_version }}
  when: sf_operator_version < "v0.0.62"
