[SERVICE]
    http_server On
    http_port   2020
    log_level   {{ .LoggingParams.LogLevel }}
[INPUT]
    name                tail
    tag                 zookeeper
    path                /watch/*.log
    path_key            full_path
    refresh_interval    5
    read_from_head      True
    db                  /watch/zk_fluentbit.db
[FILTER]
    name    modify
    match   *
    add     namespace ${K8S_NAMESPACE}
    add     nodename ${K8S_NODENAME}
    add     podname ${K8S_PODNAME}
    add     ip ${K8S_PODIP}
    add     labels_run zookeeper
    add     labels_app sf
    add     component zookeeper
    add     container zookeeper
{{- range .ExtraKeys }}
    add     {{ .Key }} ${K8S_{{ .Value -}}}
{{- end }}
{{- if eq .LoggingParams.LogLevel "debug" }}
[OUTPUT]
    name    stdout
    match   *
    format  json_lines
{{ end }}
{{- if .LoggingParams.HTTPInputConfig.InUse }}
[OUTPUT]
    name    http
    match   *
    uri     /{{ .LoggingParams.Tag }}
    format  json
    host    {{ .LoggingParams.HTTPInputConfig.Host }}
    port    {{ .LoggingParams.HTTPInputConfig.Port }}
{{ end }}