[client]
user=root
host=localhost
password={{ .MYSQLRootPassword }}

[mysqld]
init-file=/docker-entrypoint-initdb.d/initfile.sql
innodb_file_per_table=on

[mariadb]
log_error=/var/log/mariadb/error.log
