version: 1
formatters:
  console:
    class: 'nodepool.logconfig.MultiLineFormatter'
    format: "%(asctime)s %(levelname)s %(name)s: %(message)s"
{{- if .ForwardLogs }}
  logforward:
    format: '%(asctime)s %(levelname)s %(name)s: %(message)s'
{{ end }}
handlers:
  console:
    class: logging.StreamHandler
    formatter: console
    level: {{.LogLevel}}
    stream: ext://sys.stdout
{{- if .ForwardLogs }}
  logforward:
    class: sfExtras.SimpleFluentBitHTTPInputHandler
    level: {{ .LogLevel }}
    formatter:
    url: '{{ .BaseURL }}/nodepool'
    env_prefix: K8S_
{{ end }}
loggers:
  nodepool:
    handlers:
      - console
{{- if .ForwardLogs }}
      - logforward
{{ end }}
    level: {{.LogLevel}}
    propagate: 0
root:
  handlers:
    - console
{{- if .ForwardLogs }}
    - logforward
{{ end }}
  level: {{.LogLevel}}
