- name: "Perform upgrade test"
  hosts: controller
  tasks:
    - name: Deploy last stable version
      command: ./hack/deploy-version.sh "{{ sf_operator_stable_version }}"
      args:
        chdir: "{{ zuul.project.src_dir }}"

    - name: Deploy current version
      command: ./hack/deploy.sh
      args:
        chdir: "{{ zuul.project.src_dir }}"

    - name: Validate upgrade to latest release
      command: make integration-tests
      args:
        chdir: "{{ zuul.project.src_dir }}"
