---
- name: ensure nodeAffinity is not set anywhere
  ansible.builtin.command:
    kubectl -n sf get sts -o=custom-columns=AFFINITIES:.spec.template.spec.affinity
  register: _initial_affinities
  failed_when: '"nodeAffinity" in _initial_affinities.stdout'

- name: scale down zuul-executor to 0 replica
  ansible.builtin.command:
    kubectl -n sf scale statefulsets zuul-executor --replicas=0

- name: Ensure executor pod is down
  ansible.builtin.shell: |
    kubectl -n sf get pods
  register: _is_pod_down
  until:
    - "'zuul-executor' not in _is_pod_down.stdout"
  retries: "{{ zuul_api_retries }}"
  delay: "{{ zuul_api_delay }}"

- name: set nodeAffinity to true on defaultStorage and re-deploy
  ansible.builtin.include_role:
    name: update-custom-resource
  vars:
    cr_spec:
      storageDefault:
        nodeAffinity: true
        className: standard

- name: ensure nodeAffinity isn't configured on zuul-executor
  ansible.builtin.command:
    kubectl -n sf get sts/zuul-executor -o=custom-columns=AFFINITIES:.spec.template.spec.affinity
  register: _ze_affinities
  failed_when: '"nodeAffinity" in _ze_affinities.stdout'

- name: ensure nodeAffinity is configured on logserver
  ansible.builtin.command:
    kubectl -n sf get sts/logserver -o=custom-columns=AFFINITIES:.spec.template.spec.affinity
  register: _ls_affinities
  failed_when: '"nodeAffinity" not in _ls_affinities.stdout'

- name: Set executor replica set to 1
  ansible.builtin.command:
    kubectl -n sf scale statefulsets zuul-executor --replicas=1

- name: Ensure executor pod is up
  ansible.builtin.shell: |
    kubectl -n sf get pods zuul-executor-0
  register: _is_pod_up
  until:
    - "'Running' in _is_pod_up.stdout"
    - "'2/2' in _is_pod_up.stdout"
  retries: "{{ zuul_api_retries }}"
  delay: "{{ zuul_api_delay }}"
